# pip install -r src/requirements.txt
# Declarar variable con la ubicación del archivo
# set FLASK_APP=src/app.py
# flask run

Flask
Flask-SQLAlchemy
flask-restful
psycopg2
SQLAlchemy
flask-marshmallow
marshmallow
marshmallow-sqlalchemy
flask-cors